- block:
    - name: Test shell
      become: true
      shell: echo "./busca_v -vmName {{ asbhostps1.split('.')[0] }}" > /tmp/info_vm_{{ asbhostps1.split('.')[0] }}_$(date +%y%m%d)
      loop: "{{ ansible_play_hosts }}"
      loop_control:
        loop_var: asbhostps1
  
    - name: Write log
      become: true
      shell: cat /tmp/info_vm_"{{ asbhoslog.split('.')[0] }}_$(date +%y%m%d)"
      loop: "{{ ansible_play_hosts }}"
      loop_control:
        loop_var: asbhoslog
      register: asbhoslogs
  delegate_to: lvpapansiblmx02.bvm.bluecare.kyndryl.net
  run_once: true