- block:
    - name: Test shell
      shell: echo "./busca_v -vmName {{ asbhost }}"
      loop: "{{ ansible_limit.split('\n') | list | replace('.','') | replace('*','') }}"
      loop_control:
        loop_var: asbhost
  delegate_to: lvpapansiblmx02.bvm.bluecare.kyndryl.net