- block:
    - name: Test ps1
      shell: echo "./busca_vm1 -vmName {{ asbhost }}"
      loop: "{{ ansible_limit.split('\n') | list }}"
      loop_control:
        loop_var: asbhost
  delegate_to: lvpapansiblmx02.bvm.bluecare.kyndryl.net