- block:
    - name: Quien soy en el ServerA
      become: true
      become_user: "{{ scpuser }}"
      become_method: su
      become_exe: sudo su -
      shell: whoami

    # - name: Copiar archivo de DeviceB al ServerA
    #   become: true
    #   become_user: "{{ scpuser }}"
    #   become_method: su
    #   become_exe: sudo su -
    #   shell: scp -o StrictHostKeyChecking=no {{ scpuser }}@{{ iprmt }}:~/{{ bckfile }} .
    #   ignore_errors: true
    #   loop: "{{ ip_host.split('\n') }}"
    #   loop_control:
    #     loop_var: iprmt

    - name: Descagar archivo del ServerB al ServerA
      become: true
      become_user: "{{ scpuser }}"
      become_method: su
      become_exe: sudo su -      
      expect:
        command: scp -o StrictHostKeyChecking=no -o PreferredAuthentications=password {{ scpuser }}@{{ iprmt }}:~/{{ bckfile }} .
        responses:
          (?i)password: "{{ passrmt }}"
        timeout: 60
      loop: "{{ ip_host.split('\n') }}"
      loop_control:
        loop_var: iprmt
      register: scp_result

    # - name: Copiar archivo de DeviceB al ServerA
    #   become: true
    #   become_user: userput
    #   become_method: su
    #   become_exe: sudo su -
    #   command: >
    #     scp -o StrictHostKeyChecking=no 
    #     userget@192.168.56.63:/tmp/NetBackup_get.zip
    #     /tmp
    #   environment:
    #     SSHPASS: "{{ userget }}"
    #   when: userget is defined
    #   ignore_errors: true