- block:
    - name: Quien soy en el ServidorA
      become: true
      become_user: userput
      become_method: su
      become_exe: sudo su -
      shell: whoami

    # - name: Copiar archivo de ServidorA a ServidorB
    #   become: true
    #   become_user: userput
    #   become_method: su
    #   become_exe: sudo su -
    #   shell: echo "{{ userget }}" | scp -o StrictHostKeyChecking=no userget@192.168.56.63:/tmp/NetBackup_get.zip /tmp

    - name: Ejecutar comando SCP
      become: true
      become_user: userput
      become_method: su
      become_exe: sudo su -
      command: >
        scp -o StrictHostKeyChecking=no 
        userget@192.168.56.63:/tmp/NetBackup_get.zip
        /tmp
      environment:
        SSHPASS: "{{ userget }}"
      when: userget is defined