- block:
    - name: Test shell
      shell: echo "./busca_v -vmName {{ asbhost.split('.')[0] }}"
      loop: "{{ ansible_play_hosts }}"
      loop_control:
        loop_var: asbhost
  delegate_to: lvpapansiblmx02.bvm.bluecare.kyndryl.net
  run_once: true